<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @application.name %>
  <br/>
  <strong>User:</strong>
  <%= @application.user.email %>
</p>

<div class="span12" >


  <div class="row" >
    <div class="span2">
      <ul class="nav nav-tabs nav-stacked">
        <% @application.metrics.each do |metric| %>
        <li><%= link_to metric.bucket, show_bucket_application_path(metric.application_id, metric.bucket) %></li>
        <% end %>
      </ul>
    </div>
    <div class="span10">

    </div>
  </div>

</div>


<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
